<table class="links" align="center" cellpadding="1" cellspacing="1" style="width: 400px;">
	<tr>
		<td class="tdtabor2" colspan="2">
			Railway Gallery
		</td>
	</tr>
	<tr>
		<td class="tdmainlocos" style="text-align: left;" colspan="2">
			<%= link_to units_path(country: "poland") do %>
				<%= image_tag "this2" %><b>Poland</b><br>
			<% end %>
		</td>
	</tr>
	<tr>
		<td class="tdtabor2" colspan="2">
			Photo Search
		</td>
	</tr>
	<tr>
		<td class="tdmainlocos" style="text-align: left;" colspan="2">
			<p>
			<form method="GET" action="gal.php">
			<input type="text" name="find" value="'.$find.'"><br>
			<input type="submit" value="Search">
			</form>
			</p>
		</td>
	</tr>
</table>