<table class="mainlocos" align="center" cellpadding="1" cellspacing="1">
<tr>
<td class="tdtabor2" colspan="3">
Electric shunting locomotives
</td>
</tr>
<tr>
<td class="tdmainlocos" colspan="3">

	<a href="?id=et22-pkp">EM10</a>&nbsp;
	<span class="small">[<%= Unit.where(name: "EM10").count %>]</span>
</td>
</tr>
<tr>
<td class="tdtabor2" style="width: 33%;">
Electric passenger locomotives
</td>
<td class="tdtabor2" style="width: 33%;">
Electric freight locomotives
</td>
<td class="tdtabor2" style="width: 33%;">
Electric universal locomotives
</td>
</tr>
<tr>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=ep02-pkp">EP02</a>&nbsp;<span class="small">['.file_counter('ep02-pkp').']</span><br>
<a href="?id=ep03-pkp">EP03</a>&nbsp;<span class="small">['.file_counter('ep03-pkp').']</span><br>
<a href="?id=ep05-pkp">EP05</a>&nbsp;<span class="small">['.file_counter('ep05-pkp').']</span><br>
<a href="?id=ep07-pkp">EP07</a>&nbsp;<span class="small">['.file_counter('ep07-pkp').']</span><br>
<a href="?id=ep08-pkp">EP08</a>&nbsp;<span class="small">['.file_counter('ep08-pkp').']</span><br>
<a href="?id=ep09-pkp">EP09</a>&nbsp;<span class="small">['.file_counter('ep09-pkp').']</span>
</td>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=et21-pkp">ET21</a>&nbsp;<span class="small">['.file_counter('et21-pkp').']</span><br>
<a href="?id=et22-pkp">ET22</a>&nbsp;<span class="small">[<%= ClassCode.where(name: "ET22").count %>]</span><br>
<a href="?id=et40-pkp">ET40</a>&nbsp;<span class="small">['.file_counter('et40-pkp').']</span><br>
<a href="?id=et41-pkp">ET41</a>&nbsp;<span class="small">['.file_counter('et41-pkp').']</span><br>
<a href="?id=et42-pkp">ET42</a>&nbsp;<span class="small">['.file_counter('et42-pkp').']</span><br><br>
<div><b>Private operators</b></div>
<a href="?id=201e-ctl">201E/ET22 (CTL)</a>&nbsp;<span class="small">['.file_counter('201e-ctl').']</span><br>
<a href="?id=3e-ctl">3E/ET21 (CTL)</a>&nbsp;<span class="small">['.file_counter('3e-ctl').']</span><br>
<a href="?id=3e-kp_szczakowa">3E/ET21 (KP Szczakowa)</a>&nbsp;<span class="small">['.file_counter('3e-kp_szczakowa').']</span><br>
</td>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=eu06-pkp">EU06</a>&nbsp;<span class="small">['.file_counter('eu06-pkp').']</span><br>
<a href="?id=eu07-pkp">EU07</a>&nbsp;<span class="small">['.file_counter('eu07-pkp').']</span><br>
<a href="?id=eu20-pkp">EU20</a>&nbsp;<span class="small">['.file_counter('eu20-pkp').']</span>
</td>
</tr>
</td>
</tr>
<tr>
<td class="tdtabor2" style="width: 33%;">
Long-distance EMU\'s
</td>
<td class="tdtabor2" style="width: 33%;">
Low-platform designed EMU\'s
</td>
<td class="tdtabor2" style="width: 33%;">
High-platform designed EMU\'s
</td>
</tr>
<tr>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=ed72-pkp">ED72</a>&nbsp;<span class="small">['.file_counter('ed72-pkp').']</span><br>
<a href="?id=ed73-pkp">ED73</a>&nbsp;<span class="small">['.file_counter('ed73-pkp').']</span>
</td>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=en56-pkp">EN56</a>&nbsp;<span class="small">['.file_counter('en56-pkp').']</span><br>
<a href="?id=en57-pkp">EN57</a>&nbsp;<span class="small">['.file_counter('en57-pkp').']</span><br>
<a href="?id=en57-skm">EN57 (SKM)</a>&nbsp;<span class="small">['.file_counter('en57-skm').']</span><br>
<a href="?id=en71-pkp">EN71</a>&nbsp;<span class="small">['.file_counter('en71-pkp').']</span><br>
<a href="?id=en71-skm">EN71 (SKM)</a>&nbsp;<span class="small">['.file_counter('en71-skm').']</span><br>
<a href="?id=en80-pkp">EN80</a>&nbsp;<span class="small">['.file_counter('en80-pkp').']</span><br>
<a href="?id=en94-pkp">EN94</a>&nbsp;<span class="small">['.file_counter('en94-pkp').']</span><br><br>
</td>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=ew51-pkp">EW51</a>&nbsp;<span class="small">['.file_counter('ew51-pkp').']</span><br>
<a href="?id=ew58-pkp">EW58</a>&nbsp;<span class="small">['.file_counter('ew58-pkp').']</span><br>
<a href="?id=ew60-pkp">EW60</a>&nbsp;<span class="small">['.file_counter('ew60-pkp').']</span>
</td>
</tr>
<tr>
<td class="tdtabor2" style="width: 33%;">
Diesel shunting locomotives
</td>
<td class="tdtabor2" style="width: 33%;">
Diesel passenger locomotives
</td>
<td class="tdtabor2" style="width: 33%;">
Diesel universal locomotives
</td>
</tr>
<tr>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=sm03-pkp">SM03</a>&nbsp;<span class="small">['.file_counter('sm03-pkp').']</span><br>
<a href="?id=sm15-pkp">SM15</a>&nbsp;<span class="small">['.file_counter('sm15-pkp').']</span><br>
<a href="?id=sm25-pkp">SM25</a>&nbsp;<span class="small">['.file_counter('sm25-pkp').']</span><br>
<a href="?id=sm30-pkp">SM30</a>&nbsp;<span class="small">['.file_counter('sm30-pkp').']</span><br>
<a href="?id=sm31-pkp">SM31</a>&nbsp;<span class="small">['.file_counter('sm31-pkp').']</span><br>
<a href="?id=sm41-pkp">SM41</a>&nbsp;<span class="small">['.file_counter('sm41-pkp').']</span><br>
<a href="?id=sm42-pkp">SM42</a>&nbsp;<span class="small">['.file_counter('sm42-pkp').']</span><br>
<a href="?id=sm48-pkp">SM48</a>&nbsp;<span class="small">['.file_counter('sm48-pkp').']</span><br>
<a href="?id=sm48-lhs">SM48 (LHS)</a>&nbsp;<span class="small">['.file_counter('sm48-lhs').']</span><br><br>
<div><b>Private operators</b></div>
<a href="?id=401da-pl">401Da</a>&nbsp;<span class="small">['.file_counter('401da-pl').']</span><br>
<a href="?id=409da-pl">409Da</a>&nbsp;<span class="small">['.file_counter('409da-pl').']</span><br>
<a href="?id=418d-pl">418D</a>&nbsp;<span class="small">['.file_counter('418d-pl').']</span><br>
<a href="?id=418da-pl">418Da</a>&nbsp;<span class="small">['.file_counter('418da-pl').']</span><br>
<a href="?id=ls40-pl">Ls40</a>&nbsp;<span class="small">['.file_counter('ls40-pl').']</span><br>
<a href="?id=ls60-pl">Ls60</a>&nbsp;<span class="small">['.file_counter('ls60-pl').']</span><br>
<a href="?id=ls150-pl">Ls150/SM03</a>&nbsp;<span class="small">['.file_counter('ls150-pl').']</span><br>
<a href="?id=ls300-pl">Ls300/SM30</a>&nbsp;<span class="small">['.file_counter('ls300-pl').']</span><br>
<a href="?id=ls800-pl">Ls800/SM42</a>&nbsp;<span class="small">['.file_counter('ls800-pl').']</span><br>
<a href="?id=s200-pl">S200</a>&nbsp;<span class="small">['.file_counter('s200-pl').']</span><br>
<a href="?id=sm42-lotos_kolej">SM42 (Lotos Kolej)</a>&nbsp;<span class="small">['.file_counter('sm42-lotos_kolej').']</span><br>
<a href="?id=tem2-pl">TEM2/SM48</a>&nbsp;<span class="small">['.file_counter('tem2-pl').']</span><br>
<a href="?id=t448p-pl">T448-P</a>&nbsp;<span class="small">['.file_counter('t448p-pl').']</span>
</td>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=sp30-pkp">SP30</a>&nbsp;<span class="small">['.file_counter('sp30-pkp').']</span><br>
<a href="?id=sp32-pkp">SP32</a>&nbsp;<span class="small">['.file_counter('sp32-pkp').']</span><br>
<a href="?id=sp42-pkp">SP42</a>&nbsp;<span class="small">['.file_counter('sp42-pkp').']</span><br>
<a href="?id=sp45-pkp">SP45</a>&nbsp;<span class="small">['.file_counter('sp45-pkp').']</span><br>
<a href="?id=sp47-pkp">SP47</a>&nbsp;<span class="small">['.file_counter('sp47-pkp').']</span><br>
</td>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=su42-pkp">SU42</a>&nbsp;<span class="small">['.file_counter('su42-pkp').']</span><br>
<a href="?id=su45-pkp">SU45</a>&nbsp;<span class="small">['.file_counter('su45-pkp').']</span><br>
<a href="?id=su46-pkp">SU46</a>&nbsp;<span class="small">['.file_counter('su46-pkp').']</span><br>
</td>
</tr>
<tr>
<td class="tdtabor2" colspan="3">
Diesel freight locomotives
</td>
</tr>
<tr>
<td class="tdmainlocos" colspan="3">
<a href="?id=st43-pkp">ST43</a>&nbsp;<span class="small">['.file_counter('st43-pkp').']</span><br>
<a href="?id=st44-pkp">ST44</a>&nbsp;<span class="small">['.file_counter('st44-pkp').']</span><br>
<a href="?id=st44-lhs">ST44 (LHS)</a>&nbsp;<span class="small">['.file_counter('st44-lhs').']</span><br><br>
</td>
</tr>
</td>
</tr>
<tr>
<td class="tdtabor2" colspan="2">
Diesel motor units
</td>
<td class="tdtabor2">
Diesel motor cars
</td>
</tr>
<tr>
<td class="tdmainlocos" colspan="2">
<a href="?id=sa101-pkp">SA101/121</a>&nbsp;<span class="small">['.file_counter('sa101-pkp').']</span><br>
<a href="?id=sa102-pkp">SA102/111</a>&nbsp;<span class="small">['.file_counter('sa102-pkp').']</span><br>
<a href="?id=sa105-pkp">SA105</a>&nbsp;<span class="small">['.file_counter('sa105-pkp').']</span><br>
<a href="?id=sa106-pkp">SA106</a>&nbsp;<span class="small">['.file_counter('sa106-pkp').']</span><br>
<a href="?id=sa107-pkp">SA107</a>&nbsp;<span class="small">['.file_counter('sa107-pkp').']</span><br>
<a href="?id=sa108-pkp">SA108</a>&nbsp;<span class="small">['.file_counter('sa108-pkp').']</span><br>
<a href="?id=sa109-pkp">SA109</a>&nbsp;<span class="small">['.file_counter('sa109-pkp').']</span><br>
<a href="?id=sn81-pkp">SN81</a>&nbsp;<span class="small">['.file_counter('sn81-pkp').']</span>
</td>
<td class="tdmainlocos">
<a href="?id=em120-pkp">EM120</a>&nbsp;<span class="small">['.file_counter('em120-pkp').']</span><br>
<a href="?id=sn61-pkp">SN61</a>&nbsp;<span class="small">['.file_counter('sn61-pkp').']</span><br>
<a href="?id=sr53-pkp">SR53</a>&nbsp;<span class="small">['.file_counter('sr53-pkp').']</span><br>
<a href="?id=sr71-pkp">SR71</a>&nbsp;<span class="small">['.file_counter('sr71-pkp').']</span>
</td>
</tr>
<tr>
<td class="tdtabor2">
Passenger steam locos
</td>
<td class="tdtabor2">
Fast steam locos
</td>
<td class="tdtabor2">
Freight steam locos
</td>
</tr>
<tr>
<td class="tdmainlocos">
<a href="?id=ok1-pkp">Ok1</a>&nbsp;<span class="small">['.file_counter('ok1-pkp').']</span><br>
<a href="?id=ol49-pkp">Ol49</a>&nbsp;<span class="small">['.file_counter('ol49-pkp').']</span><br>
</td>
<td class="tdmainlocos">
<a href="?id=pt47-pkp">Pt47</a>&nbsp;<span class="small">['.file_counter('pt47-pkp').']</span><br>
</td>
<td class="tdmainlocos">
<a href="?id=tkt48-pkp">TKt48</a>&nbsp;<span class="small">['.file_counter('tkt48-pkp').']</span><br>
<a href="?id=tr5-pkp">Tr5</a>&nbsp;<span class="small">['.file_counter('tr5-pkp').']</span><br>
<a href="?id=ty2-pkp">Ty2</a>&nbsp;<span class="small">['.file_counter('ty2-pkp').']</span><br>
<a href="?id=ty45-pkp">Ty45</a>&nbsp;<span class="small">['.file_counter('ty45-pkp').']</span>
</td>
</tr>
<tr>
<td class="tdtabor2" colspan="2">
OHLE maintenance vehicles
</td>
<td class="tdtabor2" colspan="1">
Other vehicles
</td>
</tr>
<tr>
<td class="tdmainlocos" colspan="2">
<a href="?id=ps00-pkp">PS-00</a>&nbsp;<span class="small">['.file_counter('ps00-pkp').']</span><br>
<a href="?id=pwm05p-pkp">PWM05P</a>&nbsp;<span class="small">['.file_counter('pwm05p-pkp').']</span>
</td>
<td class="tdmainlocos" colspan="1">
<a href="?id=asf-pkp">ASF</a>&nbsp;<span class="small">['.file_counter('asf-pkp').']</span>
</td>
</tr>
<tr>
<td class="tdtabor2" style="width: 33%;">
Railway cranes
</td>
<td class="tdtabor2" style="width: 33%;">
Snow ploughs
</td>
<td class="tdtabor2" style="width: 33%;">
Track maintenance vehicles
</td>
</tr>
<tr>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=edk80-pkp">EDK-80</a>&nbsp;<span class="small">['.file_counter('edk80-pkp').']</span><br>
<a href="?id=edk300-pkp">EDK-300</a>&nbsp;<span class="small">['.file_counter('edk300-pkp').']</span>
</td>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=411s-pkp">411s</a>&nbsp;<span class="small">['.file_counter('411s-pkp').']</span><br>
<a href="?id=pse-pkp">PSE</a>&nbsp;<span class="small">['.file_counter('pse-pkp').']</span><br>
<a href="?id=psea-pkp">PSEA</a>&nbsp;<span class="small">['.file_counter('psea-pkp').']</span><br>
<a href="?id=spdm-pkp">SPDM</a>&nbsp;<span class="small">['.file_counter('spdm-pkp').']</span>
</td>
<td class="tdmainlocos" style="width: 33%;">
<a href="?id=dgs-pkp">DGS</a>&nbsp;<span class="small">['.file_counter('dgs-pkp').']</span><br>
<a href="?id=prs07-pkp">PRS-07</a>&nbsp;<span class="small">['.file_counter('prs07-pkp').']</span><br>
<a href="?id=prsm04-pkp">PRSM-04</a>&nbsp;<span class="small">['.file_counter('prsm04-pkp').']</span><br>
<a href="?id=ptmd68-pkp">PT-MD-68</a>&nbsp;<span class="small">['.file_counter('ptmd68-pkp').']</span><br>
<a href="?id=svp-pkp">SVP</a>&nbsp;<span class="small">['.file_counter('svp-pkp').']</span><br>
<a href="?id=wm15a-pkp">WM-15A</a>&nbsp;<span class="small">['.file_counter('wm15a-pkp').']</span><br>
<a href="?id=ztu300-pkp">ZTU-300</a>&nbsp;<span class="small">['.file_counter('ztu300-pkp').']</span>
</td>
</tr>
</td>
</tr>
</table>