<tr>
<td class="tdlocos" style="width: 30%;">
<a href=""><img src="" alt="test" border="0" width="150px" height="100px"></a>
</td>
<td class="tdlocos" style="width: 70%;">
<b>test</b>&nbsp;test<br>
<span class="small">test</span><br>
test</td>
</tr>